### 1) map/filter/reduce

In [1]:
# map - mathematical aplication


lst=[i for i in range(5000)]

lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
%%time

lst2=[]

for e in lst:
    lst2.append(e+5)
    
lst2[:10]

CPU times: user 926 µs, sys: 84 µs, total: 1.01 ms
Wall time: 1.01 ms

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
def suma_5(x):
    return x+5

In [5]:
list(map(suma_5, lst))[:10]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
%%time

map(suma_5, lst)

CPU times: user 5 µs, sys: 1 µs, total: 6 µs
Wall time: 9.06 µs

In [7]:
import pandas as pd

df=pd.read_csv('../data/apple_store.csv')

df.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [13]:
%%time

df.price=df.price+5

df.head()

CPU times: user 743 µs, sys: 75 µs, total: 818 µs
Wall time: 805 µs

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,23.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,20.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,20.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,20.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,20.00,985920,5320,4.5,5.0,Reference

In [14]:
%%time

df.price=df.price.apply(suma_5)   # apply es el map de pandas

df.head()

CPU times: user 2.96 ms, sys: 116 µs, total: 3.07 ms
Wall time: 3.04 ms

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,28.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,25.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,25.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,25.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,25.00,985920,5320,4.5,5.0,Reference

In [16]:
lst=[['1', '2'], ['3', '4']]

def cambia(x):
    return ','.join(x)


list(map(cambia, lst))

['1,2', '3,4']

In [17]:
### filter

In [20]:
def busca(n):
    
    if n%3==0:
        return True
    else:
        return False

In [21]:
filter(busca, lst2)

In [22]:
list(filter(busca, lst2))[:10]

[6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

In [24]:
%%time

lst=[]


for e in lst2:
    if e%3==0:
        lst.append(e)
    else:
        continue
        
lst[:10]

CPU times: user 749 µs, sys: 0 ns, total: 749 µs
Wall time: 754 µs

[6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

In [25]:
%%time

filter(busca, lst2)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.34 µs

In [26]:
### reduce

from functools import reduce

In [41]:
def sumar(a, b):
    return a+b

In [42]:
reduce(sumar, lst2[:10])

95

In [43]:
lst2[:10]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [44]:
sum(lst2[:10])

95

In [46]:
def prod(a, b):
    return a*b

In [47]:
reduce(prod, lst2[:10])   # productorio

3632428800

In [51]:
reduce(prod, [i+1 for i in range(3)])  # factorial

6

### 2) value counts

In [55]:
df.track_name.value_counts(normalize=True)*100

VR Roller Coaster                                   0.027789
Mannequin Challenge                                 0.027789
PAC-MAN Premium                                     0.013895
European Qualifiers Official App                    0.013895
Tooth Fairy Princess - Magical Adventure            0.013895
                                                      ...
Heart of Vegas Slots – Casino Slot Machine Games    0.013895
赤ペン 提出カメラ                                           0.013895
J&J Official 7 Minute Workout                       0.013895
Beautiful Japanese Handwriting                      0.013895
Escape the Sweet Shop Series                        0.013895
Name: track_name, Length: 7195, dtype: float64

### 3) funcion anonima - lambda

In [56]:
def suma(n):
    return n+2

In [60]:
suma

In [57]:
suma(8)

10

In [58]:
lambda x: x+2

In [59]:
(lambda x: x+2)(8)

10

In [61]:
suma_=lambda x: x+2

In [62]:
suma_(7)

9

In [67]:
df.price.apply(lambda x: x+5).head()

0    33.99
1    30.00
2    30.00
3    30.00
4    30.00
Name: price, dtype: float64

In [76]:
dictio=dict(zip(df.prime_genre.unique(), [i for i in range(len(df.prime_genre.unique()))]))

dictio

{'Games': 0,
 'Productivity': 1,
 'Weather': 2,
 'Shopping': 3,
 'Reference': 4,
 'Finance': 5,
 'Music': 6,
 'Utilities': 7,
 'Travel': 8,
 'Social Networking': 9,
 'Sports': 10,
 'Business': 11,
 'Health & Fitness': 12,
 'Entertainment': 13,
 'Photo & Video': 14,
 'Navigation': 15,
 'Education': 16,
 'Lifestyle': 17,
 'Food & Drink': 18,
 'News': 19,
 'Book': 20,
 'Medical': 21,
 'Catalogs': 22}

In [79]:
df.prime_genre.apply(lambda x: dictio[x]).head()   # encoding

0    0
1    1
2    2
3    3
4    4
Name: prime_genre, dtype: int64

In [86]:
list(dictio.items())[0][::-1]

(0, 'Games')

In [84]:
for i in range(10, 4, -1):
    print(i)

10
9
8
7
6
5

### 4) group by

In [89]:
df.groupby('prime_genre').sum()

,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
prime_genre,,,,,,,
Book,105680252817,20027910144,3000.54,574049,7920,277.5,236.5
Business,39527766053,3657604096,1716.63,272921,15701,213.5,190.0
Catalogs,9521080671,501816320,257.99,17325,3446,21.0,21.0
Education,370074261045,81732172267,13149.79,1014371,108267,1529.5,1337.5
Entertainment,455156238531,54291115746,13850.99,4030518,75378,1737.0,1551.5
Finance,75222780876,8136529366,2643.80,1148956,26060,253.0,170.0
Food & Drink,46072394561,4888484864,1672.80,878133,20198,200.5,152.0
Games,3611702938489,1095488356523,102083.95,52878491,2221732,14231.5,13691.5
Health & Fitness,131646851068,16219195392,4844.96,1784371,38017,666.0,606.5
Lifestyle,119099142377,8972131321,3727.50,887294,102544,404.0,319.5
Medical,17155693780,8656947200,776.85,13634,1075,77.5,75.0
Music,104419756383,15129717986,4117.29,3980199,47604,549.0,526.0
Navigation,28871108102,4754306323,1339.74,545282,5069,123.5,99.0
News,50904884158,4685313995,1913.83,976130,8529,223.5,166.0
Photo & Video,277981619272,23914144768,9239.18,5008946,98708,1326.5,1216.5
Productivity,131122724884,13962433536,5220.84,1433136,21551,713.0,664.5
Reference,46280811955,9930411724,1909.56,1434294,55595,221.0,198.0
Shopping,80440592844,11388313600,3051.99,2271070,86499,432.0,319.5
Social Networking,132146097114,13255197407,4231.76,7598316,92900,498.5,414.5
Sports,84402145437,8991587328,2958.65,1599070,14643,340.0,290.5
Travel,50909739270,6699259904,2115.75,1144485,10843,273.5,228.5
Utilities,198430697384,13463935041,6608.61,1702228,187249,813.0,710.0
Weather,45184211588,4423779328,1915.59,1597034,63783,259.0,232.0

In [90]:
df.groupby('prime_genre').agg({'price': 'sum', 'user_rating': 'mean'})

                       price  user_rating
prime_genre
Book                 3000.54     2.477679
Business             1716.63     3.745614
Catalogs              257.99     2.100000
Education           13149.79     3.376380
Entertainment       13850.99     3.246729
Finance              2643.80     2.432692
Food & Drink         1672.80     3.182540
Games              102083.95     3.685008
Health & Fitness     4844.96     3.700000
Lifestyle            3727.50     2.805556
Medical               776.85     3.369565
Music                4117.29     3.978261
Navigation           1339.74     2.684783
News                 1913.83     2.980000
Photo & Video        9239.18     3.800860
Productivity         5220.84     4.005618
Reference            1909.56     3.453125
Shopping             3051.99     3.540984
Social Networking    4231.76     2.985030
Sports               2958.65     2.982456
Travel               2115.75     3.376543
Utilities            6608.61     3.278226
Weather              1915.59     3.597222

In [92]:
df.groupby(['user_rating', 'prime_genre']).sum()

                                        id  size_bytes    price  \
user_rating prime_genre
0.0         Book               49788317771  3612632064  1197.94
            Business            4059999876   191502336   107.98
            Catalogs            4935277287   174513152   125.00
            Education          55893417032  8604258711  1875.48
            Entertainment      64951099548  2682235657  1632.86
...                                    ...         ...      ...
5.0         Social Networking   4997316734   380922880   125.99
            Sports              5142667373   154206208   159.95
            Travel              2907407942   286162944   125.99
            Utilities          10683022139   659552256   307.95
            Weather              940586491   106686464    54.98

                               rating_count_tot  rating_count_ver  \
user_rating prime_genre
0.0         Book                              0                 0
            Business                          0                 0
            Catalogs                          0                 0
            Education                         0                 0
            Entertainment                     0                 0
...                                         ...               ...
5.0         Social Networking             90468                55
            Sports                         4018               293
            Travel                          444                78
            Utilities                    176728             28876
            Weather                       19121              2338

                               user_rating_ver
user_rating prime_genre
0.0         Book                           0.0
            Business                       0.0
            Catalogs                       0.0
            Education                      0.0
            Entertainment                  0.0
...                                        ...
5.0         Social Networking             24.0
            Sports                        25.0
            Travel                        10.0
            Utilities                     44.5
            Weather                        9.5

[201 rows x 6 columns]

In [93]:
df.groupby(['user_rating', 'prime_genre']).sum().reset_index()

,user_rating,prime_genre,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating_ver
0,0.0,Book,49788317771,3612632064,1197.94,0,0,0.0
1,0.0,Business,4059999876,191502336,107.98,0,0,0.0
2,0.0,Catalogs,4935277287,174513152,125.00,0,0,0.0
3,0.0,Education,55893417032,8604258711,1875.48,0,0,0.0
4,0.0,Entertainment,64951099548,2682235657,1632.86,0,0,0.0
...,...,...,...,...,...,...,...,...
196,5.0,Social Networking,4997316734,380922880,125.99,90468,55,24.0
197,5.0,Sports,5142667373,154206208,159.95,4018,293,25.0
198,5.0,Travel,2907407942,286162944,125.99,444,78,10.0
199,5.0,Utilities,10683022139,659552256,307.95,176728,28876,44.5
200,5.0,Weather,940586491,106686464,54.98,19121,2338,9.5

In [96]:
df.iloc[:2, :4]

          id                 track_name  size_bytes  price
0  281656475            PAC-MAN Premium   100788224  28.99
1  281796108  Evernote - stay organized   158578688  25.00

In [101]:
df.loc[:10, ['track_name', 'price', 'rating_count_ver']]

                                           track_name  price  rating_count_ver
0                                     PAC-MAN Premium  28.99                26
1                           Evernote - stay organized  25.00                26
2     WeatherBug - Local Weather, Radar, Maps, Alerts  25.00              2822
3   eBay: Best App to Buy, Sell, Save! Online Shop...  25.00               649
4                                               Bible  25.00              5320
5                                    Shanghai Mahjong  25.99              5516
6              PayPal - Send and request money safely  25.00               879
7                             Pandora - Music & Radio  25.00              3594
8                         PCalc - The Best Calculator  34.99                 4
9                                         Ms. PAC-MAN  28.99                40
10                          Solitaire by MobilityWare  29.99              4017

In [102]:
df=df.head()

df.index=['a', 'b', 'c', 'd', 'e']

df

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
a,281656475,PAC-MAN Premium,100788224,28.99,21292,26,4.0,4.5,Games
b,281796108,Evernote - stay organized,158578688,25.00,161065,26,4.0,3.5,Productivity
c,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,25.00,188583,2822,3.5,4.5,Weather
d,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,25.00,262241,649,4.0,4.5,Shopping
e,282935706,Bible,92774400,25.00,985920,5320,4.5,5.0,Reference

In [103]:
df.loc[:'d', ['track_name', 'price', 'rating_count_ver']]

                                          track_name  price  rating_count_ver
a                                    PAC-MAN Premium  28.99                26
b                          Evernote - stay organized  25.00                26
c    WeatherBug - Local Weather, Radar, Maps, Alerts  25.00              2822
d  eBay: Best App to Buy, Sell, Save! Online Shop...  25.00               649

In [105]:
df.reset_index()

,index,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,a,281656475,PAC-MAN Premium,100788224,28.99,21292,26,4.0,4.5,Games
1,b,281796108,Evernote - stay organized,158578688,25.00,161065,26,4.0,3.5,Productivity
2,c,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,25.00,188583,2822,3.5,4.5,Weather
3,d,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,25.00,262241,649,4.0,4.5,Shopping
4,e,282935706,Bible,92774400,25.00,985920,5320,4.5,5.0,Reference

In [107]:
df.reset_index().loc[1, 'index']

'b'

In [108]:
df.columns=[i for i in range(len(df.columns))]

df.head()

,0,1,2,3,4,5,6,7,8
a,281656475,PAC-MAN Premium,100788224,28.99,21292,26,4.0,4.5,Games
b,281796108,Evernote - stay organized,158578688,25.00,161065,26,4.0,3.5,Productivity
c,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,25.00,188583,2822,3.5,4.5,Weather
d,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,25.00,262241,649,4.0,4.5,Shopping
e,282935706,Bible,92774400,25.00,985920,5320,4.5,5.0,Reference

In [110]:
df.reset_index().loc[1, 1]

'Evernote - stay organized'

In [113]:
df.reset_index().iloc[1, 2]

'Evernote - stay organized'