# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in /Users/iudh/miniforge3/envs/clase/lib/python3.9/site-packages (4.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

import warnings
warnings.filterwarnings('ignore')

In [4]:
cursor=MongoClient('mongodb://localhost:27017')

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
cursor.list_database_names()   # lista de bases de datos

['admin',
 'arbbot',
 'campus_tools',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'telegram_messages',
 'total_records']

In [6]:
db=cursor.nueva_db   # nueva base de datos

In [7]:
cursor.list_database_names()

['admin',
 'arbbot',
 'campus_tools',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'telegram_messages',
 'total_records']

In [8]:
colec=db.n_colec   # nueva coleccion

In [9]:
db.list_collection_names()  # lista de colecciones

[]

In [10]:
# insertar datos

dictio={'nombre': 'pepe', 'edad': 23}

colec.insert_one(dictio)

In [11]:
cursor.list_database_names()

['admin',
 'arbbot',
 'campus_tools',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'nueva_db',
 'telegram_messages',
 'total_records']

In [12]:
db.list_collection_names()

['n_colec']

In [13]:
# insertar varios

# insert into colec (columnas) values (valores);   equivalente SQL

json=[{'nombre': 'Ana', 'edad':24},
      {'_id': 20, 'actividad': 'natacion', 'hora':'22:00', 'lugar': 'aculla'}]


colec.insert_many(json)

In [14]:
json=[{'nombre': 'Ana', 'edad': 24},
      {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]


colec.insert_many(json)

In [15]:
# select * from colec;

colec.find()

In [16]:
list(colec.find())

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630733efedeca3d4b5aed4de'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [17]:
c=list(colec.find())

In [20]:
c[3].values()

dict_values([ObjectId('630733efedeca3d4b5aed4de'), 'Ana', 24])

In [21]:
json=[{'nombre': 'Ana', 'edad': 42},
      {'nombre': 'Juan', 'edad': 30},
      {'nombre': 'Maria', 'edad': 12},
      {'nombre': 'Joase', 'edad': 5},
      {'nombre': 'Hola', 'edad': 70},
      ]

colec.insert_many(json)

### Queries

In [22]:
list(colec.find())   # select * from colec;

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630733efedeca3d4b5aed4de'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630734b2edeca3d4b5aed4df'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e0'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e1'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e2'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e3'), 'nombre': 'Hola', 'edad': 70}]

In [23]:
list(colec.find({'edad': 12}))   # select * from colec where edad=12;

[{'_id': ObjectId('630734b2edeca3d4b5aed4e1'), 'nombre': 'Maria', 'edad': 12}]

In [24]:
list(colec.find({'nombre': 'Ana'}))   # select * from colec where nombre=Ana;

[{'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('630733efedeca3d4b5aed4de'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('630734b2edeca3d4b5aed4df'), 'nombre': 'Ana', 'edad': 42}]

In [25]:
list(colec.find({'edad': {'$gte': 12}}))   # select * from colec where edad>=12;

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('630733efedeca3d4b5aed4de'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('630734b2edeca3d4b5aed4df'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e0'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e1'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e3'), 'nombre': 'Hola', 'edad': 70}]

In [26]:
list(colec.find({'edad': {'$gt': 12}}))   # select * from colec where edad>12;

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('630733efedeca3d4b5aed4de'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('630734b2edeca3d4b5aed4df'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e0'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e3'), 'nombre': 'Hola', 'edad': 70}]

In [27]:
list(colec.find({'edad': {'$lte': 12}}))   # select * from colec where edad<=12;

[{'_id': ObjectId('630734b2edeca3d4b5aed4e1'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e2'), 'nombre': 'Joase', 'edad': 5}]

In [28]:
list(colec.find({'edad': {'$lt': 12}}))   # select * from colec where edad<12;

[{'_id': ObjectId('630734b2edeca3d4b5aed4e2'), 'nombre': 'Joase', 'edad': 5}]

In [29]:
list(colec.find({'edad': {'$ne': 12}}))   # select * from colec where edad!=12;

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630733efedeca3d4b5aed4de'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630734b2edeca3d4b5aed4df'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e0'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e2'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e3'), 'nombre': 'Hola', 'edad': 70}]

In [31]:
#colec.insert_one({'_id': 20, 'edad': 45})  # error

In [32]:
list(colec.find({'edad': {'$ne': 12}}).limit(3))   # select * from colec where edad!=12 limit 3;

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': ObjectId('63073373edeca3d4b5aed4dd'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [34]:
list(colec.find({'edad': {'$ne': 12}}).sort('edad', 1).limit(3))   # select * from colec where edad!=12 order by asc edad limit 3;

[{'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e2'), 'nombre': 'Joase', 'edad': 5}]

In [35]:
list(colec.find({'edad': {'$ne': 12}}).sort('edad', -1).limit(3))   # select * from colec where edad!=12 order by desc edad limit 3;

[{'_id': ObjectId('630734b2edeca3d4b5aed4e3'), 'nombre': 'Hola', 'edad': 70},
 {'_id': ObjectId('630734b2edeca3d4b5aed4df'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e0'), 'nombre': 'Juan', 'edad': 30}]

In [36]:
colec.update_one({'_id': 20}, {'$set': {'actividad': 'atletismo'}})

In [37]:
colec.update_many({'nombre': 'Ana'}, {'$set': {'edad': 1}})

In [39]:
colec.update_one({'nombre': 'Ana'}, {'$set': {'edad': 15}})

In [40]:
list(colec.aggregate([
    
    {'$group': {'_id': '', 'count': {'$sum': 1}}}
    
]))


# select count(*) from colec group by _id;     # por cada id suma 1

[{'_id': '', 'count': 10}]

In [42]:
colec.delete_one({'_id': 20})

# delete from colec where _id=20;

In [43]:
colec.delete_many({'nombre': 'Ana'})

# delete from colec where nombre=Ana;

In [44]:
list(colec.find())

[{'_id': ObjectId('630732bfedeca3d4b5aed4dc'), 'nombre': 'pepe', 'edad': 23},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e0'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e1'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e2'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('630734b2edeca3d4b5aed4e3'), 'nombre': 'Hola', 'edad': 70}]

In [45]:
colec.drop()

In [46]:
db.list_collection_names()

[]

### DB Companies

In [47]:
db=cursor.companies

In [48]:
colec=db.companies

In [52]:
#list(colec.find().limit(1))

In [59]:
list(colec.find({'$or': [{'category_code': 'web'},
                         {'category_code': 'ecommerce'}]},
               
               
                {'name': True, 'category_code': True, '_id': False}).limit(10))  



# select name, category_code from colec where category_code in ('web', 'ecommerce') limit 10;

[{'name': 'Wetpaint', 'category_code': 'web'},
 {'name': 'Postini', 'category_code': 'web'},
 {'name': 'Geni', 'category_code': 'web'},
 {'name': 'Fox Interactive Media', 'category_code': 'web'},
 {'name': 'StumbleUpon', 'category_code': 'web'},
 {'name': 'Gizmoz', 'category_code': 'web'},
 {'name': 'eBay', 'category_code': 'web'},
 {'name': 'Viacom', 'category_code': 'web'},
 {'name': 'Plaxo', 'category_code': 'web'},
 {'name': 'Yahoo!', 'category_code': 'web'}]

In [60]:
list(colec.find({'$and': [{'category_code': 'web'},
                          {'founded_year': {'$lte': 2002}}]},
               
               
                {'founded_year': True, 'name': True, '_id': False}).limit(10))  



# select founded_year, name from colec where category_code=web and founded_year<=2002 limit 10;

[{'name': 'Postini', 'founded_year': 1999},
 {'name': 'Fox Interactive Media', 'founded_year': 1979},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'eBay', 'founded_year': 1995},
 {'name': 'Viacom', 'founded_year': 1971},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Yahoo!', 'founded_year': 1994},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'Topix', 'founded_year': 2002},
 {'name': 'Steorn', 'founded_year': 2000}]

In [65]:
import pandas as pd


df=pd.DataFrame(list(colec.find({'$and': [{'category_code': 'web'},
                          {'founded_year': {'$lte': 2002}}]},
               
               
                {'founded_year': True, 'name': True, '_id': False}).sort('founded_year', 1).limit(10)))


df

                            name  founded_year
0                    SmallWorlds          1800
1                         WeGame          1840
2            The Economist Group          1843
3                       Elsevier          1880
4  Los Angeles Times Media Group          1881
5            National Geographic          1888
6                Financial Times          1888
7                PA SportsTicker          1909
8                        Nielsen          1922
9                Consumers Union          1936

In [62]:
list(colec.find({'name': {'$in': ['WeGame', 'Facebook']}},
                
                {'name':True, 'category_code': True, 'founded_year': True}))


# select name, category_code, founded_year from colec where name in ('WeGame', 'Facebook');

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'category_code': 'social',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675298140'),
  'name': 'WeGame',
  'category_code': 'web',
  'founded_year': 1840}]

In [63]:
list(colec.find({'name': {'$regex': '^Face'}},
                
                {'name':True, 'category_code': True, 'founded_year': True}).limit(2))


# select name, category_code, founded_year from colec where name like 'Face%';

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'category_code': 'social',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675298334'),
  'name': 'FaceTec',
  'category_code': 'software',
  'founded_year': 2002}]

### Geoqueries

In [67]:
# documentos que contengan oficinas, devuelve solo el nombre y el array de oficinas


ofi=colec.find({'offices': {'$not': {'$size': 0}}},
          
           {'_id':0, 'name':1, 'offices':1})

In [69]:
df=pd.DataFrame(ofi)

df=df.dropna()

df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [72]:
# extraer la primera oficina y crear geopunto


def get_first(data):
    
    data=data.offices
    
    principal=None
    
    if data[0]['latitude'] and data[0]['longitude']:
        
        principal={'type': 'Point', 'coordinates': [data[0]['longitude'], data[0]['latitude']]}
        
    
    return {'total_offices': len(data),
            'lat': data[0]['latitude'],
            'lng': data[0]['longitude'],
            'principal': principal}

In [78]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)

first_office.head()

,total_offices,lat,lng,principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [80]:
first_office=first_office.dropna()

df=pd.concat([df, first_office], axis=1).drop('offices', axis=1)

df=df.dropna()

df.head()

,name,total_offices,lat,lng,principal
0,Wetpaint,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,AdventNet,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,Zoho,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,Digg,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,Facebook,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [81]:
#df.to_json('../data/oficinas.json')

In [82]:
db.first_office.insert_many(df.to_dict('records'))  # de pandas pa mongo

In [83]:
db.first_office.create_index([('principal', '2dsphere')]) # ahora mongo entiende esto como dato geoespacial

'principal_2dsphere'

In [88]:
# encuentra los elementos dentro de cierto radio, geoquery


def find_near(array, radio=1000):
    
    return db.first_office.find({'principal': {
                                                '$near': {'$geometry': {'type': 'Point', 
                                                                        'coordinates': array},
                                                          '$maxDistance': radio}
    
                                }})

In [91]:
park_avenue=[-73.987308, 40.738935] 

radio=1000


n_ofi=find_near(park_avenue, radio)


pd.DataFrame(n_ofi).head()

,_id,name,total_offices,lat,lng,principal
0,63074876edeca3d4b5aef29a,SpaBooker,1.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ..."
1,63074876edeca3d4b5aee072,HealthiNation,1.0,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ..."
2,63074876edeca3d4b5aedc5a,Special Ops Media,1.0,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ..."
3,63074876edeca3d4b5aef8ec,Mashable,1.0,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,..."
4,63074876edeca3d4b5aee9f1,Return Path,1.0,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ..."