# 2.2 - Web Scraping (bs4)

$$$$

![scraping](images/scraping.png)

$$$$

Web scraping o raspado web, es una técnica utilizada mediante programas de software para extraer información de sitios web. Usualmente, estos programas simulan la navegación de un humano en la web ya sea utilizando el protocolo HTTP manualmente, o incrustando un navegador en una aplicación.

El web scraping está muy relacionado con la indexación de la web, la cual indexa la información de la web utilizando un robot y es una técnica universal adoptada por la mayoría de los motores de búsqueda. Sin embargo, el web scraping se enfoca más en la transformación de datos sin estructura en la web, como el formato HTML, en datos estructurados que pueden ser almacenados y analizados en una base de datos central, en una hoja de cálculo o en alguna otra fuente de almacenamiento. Alguno de los usos del web scraping son la comparación de precios en tiendas, la monitorización de datos relacionados con el clima de cierta región, la detección de cambios en sitios webs y la integración de datos en sitios webs. 

En los últimos años el web scraping se ha convertido en una técnica muy utilizada dentro del sector del posicionamiento web gracias a su capacidad de generar grandes cantidades de datos para crear contenidos de calidad.

Podríamos pensar que el web scraping es nuestro último recurso a falta de una API o un feed RSS. A falta de una fuente de datos, siempre podemos extraer aquello que sale por pantalla.

### Extracción desde el HTML

Para scrapear una página web, en primer lugar debemos conocer las estructura que tiene el HTML. Veamos la estructura básica.

El HTML consiste en contenido `<etiquetado>`, es como si fueran cajas de contenido, organizado de manera jerárquica:

```
<html>
    <head>
        <title>Titulo de la pagina</title>
    </head>
    <body>
        <h1>Cabecera</h1>
        <p>Parrafo</p>
    </body>
</html>
```

$$$$

Las etiquetas el HTML se pueden clasificar en varios grupos, dependiendo del tipo de contenido que posea. Estos son algunos ejemplos:

+ cabecera: `<h1>`, `<h2>`, `<h3>`, `<hgroup>`...
+ texto: `<b>`, `<p>`...
+ embebido: `<audio>`, `<img>`, `<video>`...
+ tabular: `<table>`, `<tr>`, `<td>`, `<tbody>`...
+ secciones: `<header>`, `<section>`, `<article>`...
+ metadata: `<meta>`, `<title>`, `<script>`...

$$$$

Las etiquetas pueden tener atributos. Por ejemplo:
 
`<div class="text-monospace" id="name_132", href="www.example.com"> Contenido de la pagina </div>` 

Esta etiqueta `div` tiene los siguientes atributos:

+ class: atributo con valor "text-monospace". La clase no es única en la página.
+ id: atributo con valor "name_132". El id de una etiqueta la identifica de manera unívoca.
+ href: atributo con valor "www.example.com". El href suele contener el link a otra parte de la página.

Siguiendo con la analogía de las cajas, si una etiqueta de HTML es una caja, los atributos serían las pegatinas pegadas en la tapa de la caja.

Conociendo cual es el contenido que queremos extraer, debemos encontrar las etiquetas dentro del HTML de la página web.

Usaremos la herramienta **[BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)**.

In [1]:
%pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/iudh/miniforge3/envs/clase/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /Users/iudh/miniforge3/envs/clase/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests as req

from bs4 import BeautifulSoup as bs   # ambos alias son cosa mia

### Ejemplos Wikipedia

**[Países europeos según esperanza de vida](https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy)**

In [3]:
url='https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy'

In [4]:
# usamos requests para extraer el html en string

html=req.get(url).text

html[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of European countries by life expectancy - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"e4865047-ec8d-4c72-9f51-18cb4a73236e","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_European_countries_by_life_expectancy","wgTitle":"List of European countries by life expectancy","wgCurRevisionId":1104436050,"wgRevisionId":1104436050,"wgArticleId":22175559,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Use dmy dates from April 2022","Articles with short desc'

In [6]:
soup=bs(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [14]:
tabla=soup.find_all('table')[3]

type(tabla)

bs4.element.Tag

In [41]:
filas=tabla.find_all('tr')

filas=[f.text.strip().split('\n') for f in filas]

filas[:5]

[['Rank',
  '',
  'Country',
  'Life expectancy[6]',
  '',
  'Influenza vaccination rate, people aged 65 and over, 2016 (%)[7]'],
 ['1', '', '\xa0Monaco[8]', '', '89.4'],
 ['2', '', '\xa0San Marino[9]', '', '83.4'],
 ['3', '', '\xa0\xa0Switzerland', '83.0'],
 ['4', '', '\xa0Spain', '82.8', '', '56%']]

In [42]:
final=[]

for f in filas:
    
    tmp=[]
    
    for palabra in f:
        
        if palabra!='':
            
            tmp.append(palabra)
            
    final.append(tmp)
    
final[:5]

[['Rank',
  'Country',
  'Life expectancy[6]',
  'Influenza vaccination rate, people aged 65 and over, 2016 (%)[7]'],
 ['1', '\xa0Monaco[8]', '89.4'],
 ['2', '\xa0San Marino[9]', '83.4'],
 ['3', '\xa0\xa0Switzerland', '83.0'],
 ['4', '\xa0Spain', '82.8', '56%']]

In [44]:
filas=[[palabra for palabra in f if palabra!=''] for f in filas]

filas[:5]

[['Rank',
  'Country',
  'Life expectancy[6]',
  'Influenza vaccination rate, people aged 65 and over, 2016 (%)[7]'],
 ['1', '\xa0Monaco[8]', '89.4'],
 ['2', '\xa0San Marino[9]', '83.4'],
 ['3', '\xa0\xa0Switzerland', '83.0'],
 ['4', '\xa0Spain', '82.8', '56%']]

In [52]:
import pandas as pd

col_names=filas[0]

data=final[1:]


df=pd.DataFrame(data, columns=col_names)

df.head()

,Rank,Country,Life expectancy[6],"Influenza vaccination rate, people aged 65 and over, 2016 (%)[7]"
0,1,Monaco[8],89.4,None
1,2,San Marino[9],83.4,None
2,3,Switzerland,83.0,None
3,4,Spain,82.8,56%
4,5,Liechtenstein,82.7,28%

In [50]:
# esto solo es de pandas

df_c=pd.read_clipboard()  # read_clipboard es ctrl+V

df_c.head()

,Rank,Country,Life,expectancy[6],Influenza,vaccination,"rate,",people,aged,65,and,"over,",2016,(%)[7]
0,1,Monaco[8],89.4,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,San,Marino[9],83.4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Switzerland,83.0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Spain,82.8,56%,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Liechtenstein,82.7,28%,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
pd.read_clipboard()

Empty DataFrame
Columns: [pd.read_clipboard()]
Index: []

### Ejemplo geolocalización por IP

https://tools.keycdn.com/geo

**¿Dónde estoy?**

In [53]:
url='https://tools.keycdn.com/geo?host=2.136.116.82'

In [54]:
# mismo proceso

html=req.get(url).content   # contenido en string

sopa=bs(html, 'html.parser') # contenido en objeto bs4

In [56]:
sopa.find('div', id='geoResult')

<div class="mt-4" id="geoResult">
<div class="bg-light medium rounded p-3">
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mb-2">Location</p> <dl class="row mb-0">
<dt class="col-4">City</dt><dd class="col-8 text-monospace">Sabadell</dd><dt class="col-4">Region</dt><dd class="col-8 text-monospace">Barcelona (B)</dd><dt class="col-4">Postal code</dt><dd class="col-8 text-monospace">08202</dd><dt class="col-4">Country</dt><dd class="col-8 text-monospace">Spain (ES)</dd><dt class="col-4">Continent</dt><dd class="col-8 text-monospace">Europe (EU)</dd><dt class="col-4">Coordinates</dt><dd class="col-8 text-monospace">41.5374 (lat) / 2.1022 (long)</dd><dt class="col-4">Time</dt><dd class="col-8 text-monospace">2022-08-30 11:59:29 (Europe/Madrid)</dd> </dl>
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mt-4 mb-2">Network</p>
<dl class="row mb-0">
<dt class="col-4">IP address</dt><dd class="col-8 text-monospace">2.136.116.82</dd><dt class="col-4">Hostname</dt><dd class="col-8 text-monospace">82.red-2-136-116.staticip.rima-tde.net</dd><dt class="col-4">Provider</dt><dd class="col-8 text-monospace">Telefonica De Espana S.a.u.</dd><dt class="col-4">ASN</dt><dd class="col-8 text-monospace">3352</dd> </dl>
</div>
<div class="mapael mt-4" id="geoMap">
<div class="map position-relative"></div>
</div>
</div>

In [59]:
sopa.find('div', {'id': 'geoResult', 'class': 'mt-4'})

<div class="mt-4" id="geoResult">
<div class="bg-light medium rounded p-3">
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mb-2">Location</p> <dl class="row mb-0">
<dt class="col-4">City</dt><dd class="col-8 text-monospace">Sabadell</dd><dt class="col-4">Region</dt><dd class="col-8 text-monospace">Barcelona (B)</dd><dt class="col-4">Postal code</dt><dd class="col-8 text-monospace">08202</dd><dt class="col-4">Country</dt><dd class="col-8 text-monospace">Spain (ES)</dd><dt class="col-4">Continent</dt><dd class="col-8 text-monospace">Europe (EU)</dd><dt class="col-4">Coordinates</dt><dd class="col-8 text-monospace">41.5374 (lat) / 2.1022 (long)</dd><dt class="col-4">Time</dt><dd class="col-8 text-monospace">2022-08-30 11:59:29 (Europe/Madrid)</dd> </dl>
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mt-4 mb-2">Network</p>
<dl class="row mb-0">
<dt class="col-4">IP address</dt><dd class="col-8 text-monospace">2.136.116.82</dd><dt class="col-4">Hostname</dt><dd class="col-8 text-monospace">82.red-2-136-116.staticip.rima-tde.net</dd><dt class="col-4">Provider</dt><dd class="col-8 text-monospace">Telefonica De Espana S.a.u.</dd><dt class="col-4">ASN</dt><dd class="col-8 text-monospace">3352</dd> </dl>
</div>
<div class="mapael mt-4" id="geoMap">
<div class="map position-relative"></div>
</div>
</div>

In [61]:
sopa.find('div', class_='mt-4')

<div class="col-xl-2 col-md-3 d-flex align-items-end mt-md-0 mt-4">
<button class="btn btn-primary d-flex justify-content-center align-items-center w-md-100" id="geoBtn">Find</button>
</div>

In [64]:
tabla=sopa.find('div', id='geoResult')

tabla.find_all('dd', class_='col-8 text-monospace')

[<dd class="col-8 text-monospace">Sabadell</dd>,
 <dd class="col-8 text-monospace">Barcelona (B)</dd>,
 <dd class="col-8 text-monospace">08202</dd>,
 <dd class="col-8 text-monospace">Spain (ES)</dd>,
 <dd class="col-8 text-monospace">Europe (EU)</dd>,
 <dd class="col-8 text-monospace">41.5374 (lat) / 2.1022 (long)</dd>,
 <dd class="col-8 text-monospace">2022-08-30 11:59:29 (Europe/Madrid)</dd>,
 <dd class="col-8 text-monospace">2.136.116.82</dd>,
 <dd class="col-8 text-monospace">82.red-2-136-116.staticip.rima-tde.net</dd>,
 <dd class="col-8 text-monospace">Telefonica De Espana S.a.u.</dd>,
 <dd class="col-8 text-monospace">3352</dd>]

In [68]:
tabla.find_all('dd', class_='col-8 text-monospace')[0].text

'Sabadell'

In [69]:
type(tabla.find_all('dd', class_='col-8 text-monospace')[0])

bs4.element.Tag

In [71]:
conexion=[]

for e in tabla.find_all('dd', class_='col-8 text-monospace'):
    conexion.append(e.text)
    
conexion

['Sabadell',
 'Barcelona (B)',
 '08202',
 'Spain (ES)',
 'Europe (EU)',
 '41.5374 (lat) / 2.1022 (long)',
 '2022-08-30 11:59:29 (Europe/Madrid)',
 '2.136.116.82',
 '82.red-2-136-116.staticip.rima-tde.net',
 'Telefonica De Espana S.a.u.',
 '3352']

In [65]:
conexion=[e.text for e in tabla.find_all('dd', class_='col-8 text-monospace')]

conexion

['Sabadell',
 'Barcelona (B)',
 '08202',
 'Spain (ES)',
 'Europe (EU)',
 '41.5374 (lat) / 2.1022 (long)',
 '2022-08-30 11:59:29 (Europe/Madrid)',
 '2.136.116.82',
 '82.red-2-136-116.staticip.rima-tde.net',
 'Telefonica De Espana S.a.u.',
 '3352']

In [72]:
# creo una funcion para todo el proceso, segun ip

def encontrar(ip):
    
    url=f'https://tools.keycdn.com/geo?host={ip}'
    
    html=req.get(url).content   # contenido en string

    sopa=bs(html, 'html.parser') # contenido en objeto bs4
    
    tabla=sopa.find('div', id='geoResult')
    
    conexion=[e.text for e in tabla.find_all('dd', class_='col-8 text-monospace')]

    return conexion

In [73]:
encontrar('168.123.4.5')

['Guam (GU)',
 'Oceania (OC)',
 '13.4786 (lat) / 144.8183 (long)',
 '2022-08-30 20:07:18 (Pacific/Guam)',
 '168.123.4.5',
 '168.123.4.5',
 'UNIVERSITY-GUAM',
 '395400']

In [77]:
encontrar('46.222.34.200')

['Spain (ES)',
 'Europe (EU)',
 '40.4172 (lat) / -3.684 (long)',
 '2022-08-30 12:09:29 (Europe/Madrid)',
 '46.222.34.200',
 '46.222.34.200',
 'Xtra Telecom S.A.',
 '15704']

### Ejemplo LinkedIn

In [78]:
url='https://www.linkedin.com/jobs/search/?currentJobId=3237846298&f_TPR=r604800&keywords=analista%20de%20datos&refresh=true'

In [80]:
html=req.get(url).text

sopa=bs(html, 'html.parser')

In [85]:
tarjetas=sopa.find('ul', class_='jobs-search__results-list')

len(tarjetas.find_all('li'))

24

In [107]:
curro=tarjetas.find_all('li')[0]

titulo=curro.find('h3').text.strip()

empresa=curro.find('h4').text.strip()

pais=curro.find('span', class_="job-search-card__location").text.strip()

link_curro=curro.find('a').attrs['href']

fecha_publi=curro.find('time').attrs['datetime']

In [108]:
{'titulo': titulo,
 'empresa': empresa,
 'pais': pais,
 'link': link_curro,
 'fecha': fecha_publi}

{'titulo': 'Data Analyst - Entry Level',
 'empresa': 'Lodging Analytics Research & Consulting | USA',
 'pais': 'United States',
 'link': 'https://www.linkedin.com/jobs/view/data-analyst-entry-level-at-lodging-analytics-research-consulting-usa-3238363576?refId=tExJc0Jxm78A9982z4aQxg%3D%3D&trackingId=YixaqcfTx63fe5TRWm4Z0Q%3D%3D&position=1&pageNum=0&trk=public_jobs_jserp-result_search-card',
 'fecha': '2022-08-30'}

In [121]:
curro.find('a').attrs['data-entity-urn'].split(':')[-1]  # id

'3238363576'

In [130]:
def linkedin(keywords, loc, n_secs, num_pages):
    
    URL='https://www.linkedin.com/jobs/search/'
    
    data=[]
    
    for i in range(num_pages):
        
        scrape_url=''.join([URL, 
                            f'?keywords={keywords}',
                            f'&location={loc}',
                            f'&f_TPR={n_secs}',
                            f'&start={i*25}'])
        
        print(scrape_url)
        
        html=req.get(scrape_url).text

        sopa=bs(html, 'html.parser')
        
        tarjetas=sopa.find('ul', class_='jobs-search__results-list').find_all('li')
        
        for oferta in tarjetas:  # bucle sobre los li, las tarjetas de cada curro
            
            curro=oferta

            titulo=curro.find('h3').text.strip()

            empresa=curro.find('h4').text.strip()

            pais=curro.find('span', class_="job-search-card__location").text.strip()

            link_curro=curro.find('a').attrs['href']

            fecha_publi=curro.find('time').attrs['datetime']
                        
            data.append({'titulo': titulo,
                         'empresa': empresa,
                         'pais': pais,
                         'link': link_curro,
                         'fecha': fecha_publi})
            
            
    return pd.DataFrame(data)

In [131]:
df_linkedin=linkedin('ingeniero de datos', 'spain', 600000, 3)

https://www.linkedin.com/jobs/search/?keywords=ingeniero de datos&location=spain&f_TPR=600000&start=0
https://www.linkedin.com/jobs/search/?keywords=ingeniero de datos&location=spain&f_TPR=600000&start=25
https://www.linkedin.com/jobs/search/?keywords=ingeniero de datos&location=spain&f_TPR=600000&start=50

In [132]:
df_linkedin.head()

,titulo,empresa,pais,link,fecha
0,Data Engineer,TSD Consulting,Spain,https://es.linkedin.com/jobs/view/data-enginee...,2022-08-12
1,Data Engineer (Pyspark),Boycor,"Madrid, Community of Madrid, Spain",https://es.linkedin.com/jobs/view/data-enginee...,2022-08-29
2,Data Engineers (Azure) - 100% Remote,Robert Walters,"Canary Islands, Spain",https://es.linkedin.com/jobs/view/data-enginee...,2022-08-09
3,Ingeniero migración de datos. Remoto 100%,Plexus Tech,Spain,https://es.linkedin.com/jobs/view/ingeniero-mi...,2022-08-26
4,Data Engineer,The Cocktail,Spain,https://es.linkedin.com/jobs/view/data-enginee...,2022-08-18

In [133]:
from IPython.display import HTML

HTML(df_linkedin.to_html(render_links=True))